@model MovieResources.Models.PeopleViewModel

@{
    Layout = "~/Views/Shared/_LayoutWide.cshtml";
    ViewBag.Title = Model.Account + "的主页";
    ViewBag.PageType = 2;
}
@*@Scripts.Render("~/bundles/backstrech")
<script>
    $(document).ready(function () {
        $.backstretch("../../Content/Account/PeopleBack.jpg");
    });
</script>*@
<style>
    #divPanel {
        border-radius: 0px;
        margin-bottom: 20px;
        background-size: cover;
        /*margin-top: -20px;*/
    }

    #divMask {
        padding: 77px 10px;
    }

    #divLink {
        width: 120px;
        height: 120px;
        margin-left: auto;
        margin-right: auto;
    }

    #imgAvatar {
        border-radius: 60px;
        width: 120px;
        height: 120px;
        -webkit-box-shadow: 5px 5px 8px #666666;
        -moz-box-shadow: 5px 5px 8px #666666;
        box-shadow: 5px 5px 8px #666666;
        border: 5px solid rgba(255,255,255,0);
        text-align: center;
        transition: border 0.2s ease, box-shadow 0.5s ease;
    }

        #imgAvatar:hover {
            -webkit-box-shadow: 0 0 18px #666666;
            -moz-box-shadow: 0 0 18px #666666;
            box-shadow: 0 0 18px #666666;
            border: 0px solid rgba(255,255,255,0);
        }

    #commonmovie {
        background-color: white;
        margin: 0px;
        padding: 0px;
    }

    #commonlist {
        margin: 0px;
        padding: 0px;
    }

    .commonitem {
        padding: 5px;
    }

    .commonimage {
        width: 115px;
        height: 160px;
        border: 5px solid #EEEEEE;
        transition: border 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    }

        .commonimage:hover,
        .commonimage:active,
        .commonimage:focus {
            border: 5px solid #FFFFFF;
            box-shadow: 0px 0px 10px #DEDEDE;
        }
</style>

<script>
    (function ($) {
        $(window).load(function () {
            $("#commonmovie").mThumbnailScroller({
                type: "click-50",
                theme: "buttons-in"
            });
        });
    })(jQuery);
</script>

<div class="container">
    <div id="divPanel" style="background-image: url('/Content/User/Cover/@Model.Cover');">
        <div id="divMask">
            <div id="divLink">
                <a href="/People/Index?id=@Model.Id" id="aLink">
                    <img class="img-responsive tipup" src="~/Content/User/Avatar/@Model.Avatar" data-toggle="tooltip" data-placement="right" title="@Model.Account 的主页" id="imgAvatar" />
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="col-sm-9 no-padding">
        @*共同喜好*@
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                ————&nbsp;&nbsp;<strong>共同喜好</strong> (@Model.CommonCount 部)&nbsp;&nbsp;————
            </div>
            <div class="panel-body">
                @if (Model.Albums.Count == 0)
                {
                    <div class="text-center">
                        天啦，你们没有共同喜好(＃￣▽￣＃)
                    </div>
                }
                else
                {
                    <div id="commonmovie">
                        <ul id="commonlist">
                            @foreach (var item in Model.MovieCommons)
                            {
                                <li class="commonitem"><a href="/Movie/Index?id=@item.Id" title="@item.Title" target="_self"><img class="commonimage" src="~/Content/Movie/@item.Avatar" /></a></li>
                            }
                        </ul>
                    </div>
                }
            </div>
        </div>

        @*专辑*@
        <div class="panel panel-default" style="min-height:320px;">
            <div class="panel-heading text-center">
                ————&nbsp;&nbsp;<strong>专辑</strong> (@Model.AlbumCount 部)&nbsp;&nbsp;————
            </div>
            <div class="panel-body" style="padding:10px;">
                @if (Model.Albums.Count == 0)
                {
                    <div class="text-center">
                        没有创建过专辑(＃￣▽￣＃)，<a class="link-text" href="/Album/Create" target="_self">创建一个</a>
                    </div>
                }
                else
                {
                    foreach (var item in Model.Albums)
                    {
                        <div class="col-lg-4 col-md-3 col-sm-4" style="padding:10px;">
                            <div class="album panel-float">

                                <div class="album-avatar">
                                    <a href="/Album/Detail?id=@item.Id" title="@item.Title" target="_self"><img src="~/Content/Album/@item.Cover" /></a>
                                </div>

                                <div class="album-info">
                                    <a class="link-no-line text-overflow" href="/Album/Detail?id=@item.Id" target="_self" title="@item.Title">@item.Title</a>
                                    <small>@item.Summary</small>
                                </div>

                                <div class="album-bottom">
                                    <i class="fa fa-eye"></i><span> &nbsp;@item.VisitCount</span>
                                    <i class="fa fa-heart"></i><span> &nbsp;@item.FollowCount</span>
                                    @if (!string.IsNullOrEmpty(item.UserId))
                                    {
                                        <div class="album-user">
                                            <a href="/People/Index?id=@item.UserId" data-toggle="tooltip" data-placement="top" title="@item.UserAccount" target="_self">
                                                <i class="fa fa-user"></i>
                                            </a>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>

        @*最近动态*@
        <div class="panel panel-default" style="min-height:320px;">
            <div class="panel-heading text-center">
                ————&nbsp;&nbsp;<strong>最近动态</strong>&nbsp;&nbsp;————
            </div>
            <div class="panel-body">
                @if (Model.Comments.Count == 0)
                {
                    <div class="text-center">
                        没有动态(＃￣▽￣＃)
                    </div>
                }
                else
                {
                    <ul class="list-link">
                        @foreach (var item in Model.Comments)
                        {
                            <li>
                                <div style="font-weight:bold;">
                                    对电影&nbsp;&nbsp;<a class="link-text" href="/Movie/Index?id=@item.MovieID" target="_self">@item.MovieTitle</a>&nbsp;&nbsp;的评论
                                    <span class="font-small" style="margin-left:10px; color:#555555;">@item.Time</span>
                                </div>
                                <p style="text-wrap:normal; word-wrap:break-word;">
                                    @item.Comment
                                </p>
                            </li>
                        }
                    </ul>
                }
            </div>
        </div>
    </div>

    <div class="col-sm-3 div-right">

        @*想看的电影*@
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                ————&nbsp;&nbsp;<strong>想看</strong> (@Model.PlanCount 部)&nbsp;&nbsp;————
            </div>
            <div class="panel-body">
                @if (Model.MoviePlans.Count == 0)
                {
                    <div class="text-center">
                        没有想看的电影(＃￣▽￣＃)
                    </div>
                }
                else
                {
                    <ul class="list-link">
                        @foreach (var item in Model.MoviePlans)
                        {
                            <li>
                                <a class="link-list-item" href="/Movie/Index?id=@item.Id" target="_self">@item.Title</a>
                            </li>
                        }
                    </ul>
                }
            </div>
        </div>

        @*看过的电影*@
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                ————&nbsp;&nbsp;<strong>看过</strong> (@Model.FinishCount 部)&nbsp;&nbsp;————
            </div>
            <div class="panel-body">
                @if (Model.MovieFinishs.Count == 0)
                {
                    <div class="text-center">
                        没有看过的电影(＃￣▽￣＃)
                    </div>
                }
                else
                {
                    <ul class="list-link">
                        @foreach (var item in Model.MovieFinishs)
                        {
                            <li>
                                <a class="link-list-item" href="/Movie/Index?id=@item.Id" target="_self">@item.Title</a>
                            </li>
                        }
                    </ul>
                }
            </div>
        </div>

        @*喜欢的电影*@
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                ————&nbsp;&nbsp;<strong>喜欢</strong> (@Model.FavorCount 部)&nbsp;&nbsp;————
            </div>
            <div class="panel-body">
                @if (Model.MovieFavors.Count == 0)
                {
                    <div class="text-center">
                        没有喜欢的电影(＃￣▽￣＃)
                    </div>
                }
                else
                {
                    <ul class="list-link">
                        @foreach (var item in Model.MovieFavors)
                        {
                            <li>
                                <a class="link-list-item" href="/Movie/Index?id=@item.Id" target="_self">@item.Title</a>
                            </li>
                        }
                    </ul>
                }
            </div>
        </div>

        @*收藏的影人*@
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                ————&nbsp;&nbsp;<strong>影人</strong> (@Model.CollectCount 位)&nbsp;&nbsp;————
            </div>
            <div class="panel-body">
                @if (Model.CelebCollects.Count == 0)
                {
                    <div class="text-center">
                        没有收藏过影人(＃￣▽￣＃)
                    </div>
                }
                else
                {
                    <ul class="list-link">
                        @foreach (var item in Model.CelebCollects)
                        {
                            <li>
                                <a class="link-list-item" href="/Celeb/Index?id=@item.Id" target="_self">@item.Title</a>
                            </li>
                        }
                    </ul>
                }
            </div>
        </div>

    </div>
</div>