@model MovieResources.Models.ManageMovieViewModel

@{
    ViewBag.Title = "添加无豆瓣编号的电影";
    ViewBag.PageType = 2;
}

<div class="panel panel-body text-center no-padding">
    <h4>@ViewBag.Title</h4>
</div>

@using (Html.BeginForm("CreateMovie", "Movie", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="panel panel-default">
        <div class="panel-body form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control col-md-", placeholder = "请填写影片的中文名" } })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.TitleEn, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.TitleEn, new { htmlAttributes = new { @class = "form-control", placeholder = "请填写影片的外文名" } })
                    @Html.ValidationMessageFor(model => model.TitleEn, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.Aka, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Aka, new { htmlAttributes = new { @class = "form-control", placeholder = "请填写影片的更多片名，请用/分隔" } })
                    @Html.ValidationMessageFor(model => model.Aka, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.Directors, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Directors, new { htmlAttributes = new { @class = "form-control", placeholder = "多个导演，请用/分隔" } })
                    @Html.ValidationMessageFor(model => model.Directors, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.Writers, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Writers, new { htmlAttributes = new { @class = "form-control", placeholder = "多个编剧，请用/分隔" } })
                    @Html.ValidationMessageFor(model => model.Writers, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.Casts, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Casts, new { htmlAttributes = new { @class = "form-control", placeholder = "多个主演，请用/分隔" } })
                    @Html.ValidationMessageFor(model => model.Casts, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.Year, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Year, new { htmlAttributes = new { @class = "form-control", placeholder = "如: 2016" } })
                    @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.Pubdates, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Pubdates, new { htmlAttributes = new { @class = "form-control", placeholder = "如: 2016-02-20(中国)" } })
                    @Html.ValidationMessageFor(model => model.Pubdates, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.Durations, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Durations, new { htmlAttributes = new { @class = "form-control", placeholder = "如: 119分钟" } })
                    @Html.ValidationMessageFor(model => model.Durations, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.Genres, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Genres, new { htmlAttributes = new { @class = "form-control", placeholder = "多个类型，请用/分隔" } })
                    @Html.ValidationMessageFor(model => model.Genres, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.Languages, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Languages, new { htmlAttributes = new { @class = "form-control", placeholder = "多种语言，请用/分隔" } })
                    @Html.ValidationMessageFor(model => model.Languages, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.Countries, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Countries, new { htmlAttributes = new { @class = "form-control", placeholder = "多个国家/地区，请用/分隔" } })
                    @Html.ValidationMessageFor(model => model.Countries, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.Rating, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Rating, new { htmlAttributes = new { @class = "form-control", placeholder = "如: 8.9" } })
                    @Html.ValidationMessageFor(model => model.Rating, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.RatingCount, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.RatingCount, new { htmlAttributes = new { @class = "form-control", placeholder = "如: 36545" } })
                    @Html.ValidationMessageFor(model => model.RatingCount, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.DoubanID, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.DoubanID, new { htmlAttributes = new { @class = "form-control", placeholder = "如: 6097775" } })
                    @Html.ValidationMessageFor(model => model.DoubanID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.IMDbID, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.IMDbID, new { htmlAttributes = new { @class = "form-control", placeholder = "如: tt1655442" } })
                    @Html.ValidationMessageFor(model => model.IMDbID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.Avatar, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    <input type="file" name="file" class="form-control" placeholder="请选择图片" />
                    @Html.ValidationMessageFor(model => model.Avatar, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.Summary, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Summary, new { htmlAttributes = new { @class = "form-control min-editor", placeholder = "请填写电影简介。。。" } })
                    @Html.ValidationMessageFor(model => model.Summary, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="panel-footer">
            <input type="submit" value="确认新建" class="btn btn-primary btn-block" />
        </div>
    </div>
}