@model MovieResources.Models.ForgotPasswordViewModel

@{
    ViewBag.Title = "忘记了密码?";
    ViewBag.PageType = 2;
}

<div class="panel panel-body text-center no-padding">
    <h4>@ViewBag.Title</h4>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <strong>输入你的用户名和电子邮件>></strong>
    </div>
    <div class="panel-body">

        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <div class="input-group col-sm-offset-3 col-sm-6">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </div>

            <div class="col-sm-offset-3 col-sm-6" style="margin-bottom:15px;">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-user"></i>
                    </span>
                    @Html.TextBoxFor(m => m.Account, new { @class = "form-control", placeholder = "用户名" })
                </div>
                @Html.ValidationMessageFor(m => m.Account, "", new { @class = "text-danger" })
            </div>

            <div class="col-sm-offset-3 col-sm-6" style="margin-bottom:15px;">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-envelope-o"></i>
                    </span>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "电子邮件" })
                </div>
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>

            <div class="col-sm-offset-3 col-sm-6">
                <input type="submit" class="btn btn-primary btn-block" value="重置密码" />
            </div>
        }
    </div>
</div>
