@model MovieResources.Models.ResetPasswordViewModel

@{
    ViewBag.Title = "重置密码";
    ViewBag.PageType = 2;
}

<div class="panel panel-body text-center no-padding">
    <h4>@ViewBag.Title</h4>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <strong>重置你的密码>></strong>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <div class="input-group col-sm-offset-3 col-sm-6">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </div>
            @Html.HiddenFor(model => model.Account)

            <div class="col-sm-offset-3 col-sm-6" style="margin-bottom:15px;">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-lock"></i>
                    </span>
                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control", placeholder = "新密码" })
                </div>
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>

            <div class="col-sm-offset-3 col-sm-6" style="margin-bottom:15px;">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-check-square-o"></i>
                    </span>
                    @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "确认新密码" })
                </div>
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            </div>

            <div class="col-sm-offset-3 col-sm-6">
                <input type="submit" class="btn btn-primary btn-block" value="重置" />
            </div>
        }
    </div>
</div>
