@model MovieResources.Models.ChangePasswordViewModel

@{
    Layout = "~/Views/Mine/_LayoutPage.cshtml";
    ViewBag.Avatar = Model.Avatar;
    ViewBag.Account = Model.Account;
    ViewBag.Title = "更改密码 | 个人设置";
}

<div class="panel panel-body">
    <ul class="nav nav-tabs">
        <li class=""><a href="/Mine/ChangeAvatar">更改头像     </a></li>
        <li class="active"><a href="/Mine/ChangePassword">更改密码     </a></li>
        <li class=""><a href="/Mine/ChangeCover">更改主页封面     </a></li>
    </ul>

    <div class="panel-body col-sm-7">
        @using (Html.BeginForm("ChangePassword", "Mine", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <p>安全性高的密码可以使账号更安全</p>
            <p>建议您定期更换密码</p>
            <p class="text-muted">且设置一个包含数字和字母，并长度超过6位以上的密码</p>
            <hr />

            <div class="col-sm-9">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(m => m.Avatar)
            </div>

            <div class="col-sm-9" style="margin-bottom:20px;">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-user"></i>
                    </span>
                    @Html.TextBoxFor(m => m.OldPassword, new { @class = "form-control", placeholder = "原密码" })
                </div>
                @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
            </div>

            <div class="col-sm-9" style="margin-bottom:20px;">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-lock"></i>
                    </span>
                    @Html.TextBoxFor(m => m.NewPassword, new { @class = "form-control", placeholder = "新密码" })
                </div>
                @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
            </div>

            <div class="col-sm-9" style="margin-bottom:20px;">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-check-square-o"></i>
                    </span>
                    @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "确认新密码" })
                </div>
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            </div>

            <div class="col-sm-9">
                <input type="submit" value="更改密码" class="btn btn-primary" />
            </div>
        }
    </div>
</div>